<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do List: Trash</title>
    <%- include('link'); %>
</head>
<body>
    <%- include('navigation'); %>
    <header class="ms-Grid-row">
        <h1 class="ms-Grid-col ms-sm12">Trash</h1>
    </header>
    <hr />
    <% todos.forEach( (todo) => { %>
            <%- include('todolist', { todo }); %>
            <div class="options">
                <form action="deletetodopermanently/<%= todo._id %>" method="POST"><button type="submit">Delete permanently</button></form>
            </div>
    <% }); %>
    <% if (todos.length > 0) { %>
    <div id="deletetodopermanently">
        <br />
        <form action="deletealltodopermanently" method="POST"><button type="submit">Delete all todos permanently</button></form>
    </div>
    <% } else { %>
        <p>There are no deleted todos.</p>
    <% } %>
    <hr />
    <%- include('footer'); %>

</body>
</html>